body,
ul {
  margin: 0;
}

h1 {
  margin: 30px;
}

ul {
  list-style-type: none;
}

.menu {
  background-color: bisque;
  padding: 10px 30px;
  font-size: 1.5rem;
  height: 140px;
  display: flex;
  flex-direction: row; /* default */
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.logo {
  font-size: 5rem;
}

.menu-item {
  cursor: pointer;
  padding: 15px 5px;
  border-radius: 8px;
  transition: background-color 0.3s ease-in;
}

.menu-item:hover {
  background-color: rgb(255, 194, 119);
}
