body {
  margin: 30px;
}

.container {
  border: 3px solid red;
  margin: 15px;
  display: flex;
  flex-direction: row; /* default */
  /* раскомментируйте по одному свойству для просмотра результатов */
  flex-wrap: wrap;
  justify-content: space-evenly; /* main axis */
  align-items: center; /* cross axis */
  gap: 10px;
}

.container.row {
  /* раскомментируйте при использовании свойств align-items и align-self */
  height: 300px;
}

/* выбор элемента с обоими классами: "container" и "column" */
.container.column {
  margin-top: 50px;
  flex-direction: column;
  height: 450px;
}

.box {
  width: 100px;
  height: 80px;
  background-color: cornflowerblue;
  border: 2px solid darkblue;
  flex-basis: 100px;
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
}

.box:first-child {
  background-color: brown;
}

/* раскомментируйте для использования свойства flex-grow */
/* .box:nth-child(2) {
  flex-grow: 3;
  background-color: greenyellow;
} */

/* раскомментируйте для использования свойства flex-shrink */
/* .box:nth-child(2) {
  flex-shrink: 2;
  background-color: greenyellow;
} */

/* раскомментируйте для использования свойства align-self */
.box:nth-child(2) {
  align-self: flex-start;
  background-color: greenyellow;
}
